atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
idna==2.8
inflection==0.3.1
mirakuru==1.1.0
more-itertools==5.0.0
nose==1.3.7
numpy==1.16.2
pathlib2==2.3.3
pluggy==0.9.0
port-for==0.4
psutil==5.6.1
py==1.10.0
pytest==4.4.0
pytest-mysql==2.0.1
python-dateutil==2.8.0
pytz==2018.9
Quandl==3.4.6
requests==2.21.0
six==1.12.0
urllib3==1.24.1
tensorflow-gpu>=1.8,<=1.9
Keras>=2.0.4,<3.0
h5py>=2.7.0,<3.0
pandas>=0.18.0,<1.0
numexpr>=2.4.6,<3.0
setuptools<=39.1.0
